[Unit]
Description=AsyncExecutor
After=network.target

[Service]
# 用户名和组
User=root
Group=root

WorkingDirectory=/home/backend/AsyncExecutor
ExecStart=/home/backend/AsyncExecutor/.venv/bin/uvicorn server.start:app --host 0.0.0.0 --port 7788 --workers 9

Restart=on-failure
RestartSec=3

StandardOutput=file:/home/backend/AsyncExecutor/log/app.log
StandardError=file:/home/backend/AsyncExecutor/log/error.log

[Install]
WantedBy=multi-user.target